 <!--Navbar-->
 <section id="navbar">
    <nav class="navbar navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="assets\img\Arg Programa.png" alt=""></a>

            <div class="d-flex justify-content-end">

                <!--Redes Sociales-->
                <ul class="list-group list-group-horizontal-lg">
                    <li class="list-group-item"><i class="fa-brands fa-linkedin-in"></i></li>
                    <li class="list-group-item"><i class="fa-brands fa-github"></i></li>
                    <li class="list-group-item"><i class="fa-brands fa-codepen"></i></li>
                </ul>

                <app-login></app-login>
                <app-logout></app-logout>

            </div>
        </div>
    </nav>
</section>