<div class="modal fade" id="skillDosModal" tabindex="-1" aria-labelledby="skillDosModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="skillDosModal">Actualize sus datos de habilidades</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div>
                <div class="modalField" class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Habilidad</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1"
                        placeholder="JavaScript, Css, Git, etc.">
                </div>
            </div>
            <div>
                <div class="modalField" class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Porcentaje</label>
                    <input type="number" class="form-control" id="exampleFormControlInput1"
                        placeholder="Ingrese el progreso sobre la habilidad">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>
