<!--Experiencia-->
<section id="experiencia">
    <div class="section">
        <div class="container">
            <div class="row gx-5">
                <div class="panel col-lg-12">
                    <h2 class="section-title">EXPERIENCIA</h2>
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <app-tarjeta1></app-tarjeta1>
                        </div>
                        <div class="col">
                            <app-tarjeta2></app-tarjeta2>
                        </div>
                        <div class="col">
                            <app-tarjeta3></app-tarjeta3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-botones-experiencia></app-botones-experiencia>
