<section id="editSobre" class="bg-dark p-4">
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <app-edit-profile></app-edit-profile>
      </div>
      <div class="col">
        <app-edit-banner></app-edit-banner>
      </div>
      <div class="col">
        <app-edit-sobre-mi></app-edit-sobre-mi>
      </div>
    </div>
  </div>
</section>

<app-profile-modal></app-profile-modal>
<app-banner-modal></app-banner-modal>
<app-edit-sobre-mi></app-edit-sobre-mi>
