<section id="skills">
  <div class="section">
    <div class="container">
      <div class="row gx-5">
        <div class="panel col-lg-12">
          <h2 class="section-title">FORMACION</h2>
          <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
              <div class="card">
                <div class="deleteCard">
                  <i class="fa-regular fa-trash-can"></i>
                </div>
                <img
                  src="assets\img\Logo Argentina Programa.jpg"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">Formacion Full Stack developer Jr.</h5>
                  <h6 class="card-subtitle">Programa Argentina Programa</h6>
                  <br />
                  <p class="card-text">2022 - 2023</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="deleteCard">
                  <i class="fa-regular fa-trash-can"></i>
                </div>
                <img
                  src="assets\img\Project Placeholder.png"
                  class="projectImage"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">
                    Tecnico en Industria de los Alimentos
                  </h5>
                  <h6 class="card-subtitle">Escuelas Tecnicas Raggio</h6>
                  <br />
                  <p class="card-text">2013 - 2019</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
