/* ETIQUETAS van con directamente el nombre */
/* CLASES va con "." adelante */
/* ID va con "#" adelante */

body {
background-color: rgb(216, 166, 66);
color:rgb(255, 255, 255);
}
#redes{
text-align: center;
margin: auto;
}
.seccion{
    text-align: left;
    margin: auto;
}
ul li{
    list-style-type: none;
    margin-left: -2.5%;
}
#nombre{
    font-size: 4rem;
    color: black;
}
.derecha{
    float: right;
}