<!--Habilidades duras y suaves-->
<section id="skills">
  <div class="section">
    <div class="container">
      <div class="row gx-5">
        <div class="panel col-lg-12">
          <h2 class="section-title">HABILIDADES</h2>
          <!--Skill 1-->
          <app-skill1></app-skill1>
          <br />
          <!--Skill 2-->
          <app-skill2></app-skill2>
          <br />
          <!--Skill 3-->
          <app-skill3></app-skill3>
          <br />
          <!--Skill 4-->
          <app-skill4></app-skill4>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Modales-->
<app-modal-skill1></app-modal-skill1>
<app-modal-skill2></app-modal-skill2>
<app-modal-skill3></app-modal-skill3>
<app-modal-skill4></app-modal-skill4>
