<!--Botones de Edicion (Experiencia)-->
<section id="experiencia-botones" class="bg-dark p-4 ">
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <app-editar-tarjeta-xp1></app-editar-tarjeta-xp1>
            </div>
            <div class="col">
                <app-editar-tarjeta-xp2></app-editar-tarjeta-xp2>
            </div>
            <div class="col">
                <app-editar-tarjeta-xp3></app-editar-tarjeta-xp3>
            </div>
        </div>
    </div>
</section>

<app-primer-tarjeta-xp-modal></app-primer-tarjeta-xp-modal>
<app-segunda-tarjeta-xp-modal></app-segunda-tarjeta-xp-modal>
<app-tercer-tarjeta-xp-modal></app-tercer-tarjeta-xp-modal>